<link rel="stylesheet" href="/CSS/footer.css" />

<footer class="footer bg-light bg-light py-3 mt-auto">

    <div class='container'>
        <span class="text-muted">
            &copy; My Blog 
        </span>
    </div>

</footer>