<% layout('layouts/boilerplate') %>
<form id="editForm" class="add-form" action="/posts/<%=data.rows[0].id%>?_method=PATCH" method="POST">
    <label>Edit Text</label>
    <p></p>
    <textarea id="edit_content" name="edit_content"  rows="4" cols="50">
        <%-data.rows[0].post%>
    </textarea>
    <button>Submit</button>

</form>
