<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/CSS/edit.css" />
<form class="add-form" action="/posts/<%=data.rows[0].id%>?_method=PATCH" method="POST">
    <label>Edit Text</label>
    <p></p>
    <textarea id="edit_content" name="edit_content"  rows="4" cols="50">
        <%-data.rows[0].post%>
    </textarea>
    <button id="editSubmitBtn">Submit</button>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var editedText = $('#edit_content').text();

    $('#editedText').on('change', function(){
        if(editedText.includes("<script>")){
            $("#editSubmitBtn").addClass('disabled');
        }else{
            $("#editSubmitBtn").removeClass('disabled');
        }
    })
    

</script>