<% layout('layouts/boilerplate') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/CSS/home.css" />

<div class="quote">
  <h1 class="display-4">You look like unscratched furniture !</h1>
</div>


   
</script>