<% layout('layouts/boilerplate') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/CSS/home.css" />

<div class="bg-light p-5 rounded-lg m-3 jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Share what's in your head !</p>
    
  </div>


   
</script>